body{
    background-color: #fefefe;
background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.28'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}header {
    background-color: rgb(138, 9, 9);
    padding: .4rem 0 0;
}
/* body{
    background-color: silver;
} */
.menu {
    padding: .4rem 2rem;
}
header ul {
    border-bottom: 1px solid rgba(242, 242, 242, 1);
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: right;
}
header li {
    display: inline-block;
}
header li a {
    border-radius: 5px;
    color: rgba(0, 0, 0, .5);
    display: block;
    height: 44px;
    text-decoration: none;
}
header li.menu-item a {
    border-radius: 5px;
    margin: 5px 0;
    height: 38px;
    line-height: 36px;
    padding: .4rem .65rem;
    text-align: center;
    color: white;
}
header li.menu-item a:hover,
header li.menu-item a:focus {
    background-color: goldenrod;
    color: rgb(251, 255, 0);
}
header .logo {
    float: left;
    height: 44px;
    padding: .4rem .5rem;
}
header .menu-toggle {
    display: none;
    float: right;
    font-size: 2rem;
    font-weight: bold;
}
header .menu-toggle button {
    background-color: rgba(221, 72, 20, .6);
    border: none;
    border-radius: 3px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    font: inherit;
    font-size: 1.3rem;
    height: 36px;
    padding: 0;
    margin: 11px 0;
    overflow: visible;
    width: 40px;
}
header .menu-toggle button:hover,
header .menu-toggle button:focus {
    background-color: rgba(221, 72, 20, .8);
    color: rgba(255, 255, 255, .8);
}
header .heroe {
    margin: 0 auto;
    max-width: 1100px;
    padding: 1rem 1.75rem 1.75rem 1.75rem;
}
header .heroe h1 {
    font-size: 2.8rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
header .heroe h2 {
    font-size: 1.5rem;
    font-weight: 300;
}
section {
    margin: 0 auto;
    max-width: 1400px;
    padding: 2rem 1.75rem 3.5rem 1.75rem;
}
.boton {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .boton {
      transition: none;
    }
  }
  .boton:hover {
    color: #212529;
  }
  .boton-check:focus + .boton, .boton:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
  .boton:disabled, .boton.disabled, fieldset:disabled .boton {
    pointer-events: none;
    opacity: 0.65;
  }
  
  .boton-conchoVino {
    color: #fff;
    background-color:rgb(138, 9, 9);
    border-color: rgb(138, 9, 9);
  }
  .boton-conchoVino:hover {
    color: #fff;
    background-color: black;
    border-color: black;
  }

.tabla {
--bs-table-bg: transparent;
--bs-table-accent-bg: transparent;
--bs-table-striped-color: #212529;
--bs-table-striped-bg: rgba(0, 0, 0, 0.05);
--bs-table-active-color: #212529;
--bs-table-active-bg: rgba(0, 0, 0, 0.1);
--bs-table-hover-color: #212529;
--bs-table-hover-bg: rgba(0, 0, 0, 0.075);
width: 100%;
margin-bottom: 1rem;
color: #212529;
vertical-align: top;
border-color: #dee2e6;
}
.tabla-hover > tbody > tr:hover > * {
    --bs-tabla-accent-bg: var(--bs-tabla-hover-bg);
    color: var(--bs-tabla-hover-color);
  }
  .tabla-conchoVino {
    --bs-tabla-bg: #f8f9fa;
    --bs-tabla-striped-bg: #ecedee;
    --bs-tabla-striped-color: #000;
    --bs-tabla-active-bg: #dfe0e1;
    --bs-tabla-active-color: #000;
    --bs-tabla-hover-bg: rgb(138, 9, 9);
    --bs-tabla-hover-color: rgb(172, 33, 33);
    color: #000;
    border-color: #dfe0e1;
  }
  
.footer{
    background-color: rgb(138, 9, 9);
    color: white;
    padding: 1%;
    text-align: center;
    
}
.media{
  color: white;
}
.icons a{
    color: white;
    font-size: 1rem;
    margin: 0 0.1rem;
    text-decoration: none;
}
.icons a:hover{
    color: rgb(251, 255, 0);
}
.copy a{
    color: white;
    text-decoration: none;
}
.copy a:hover{
    color: rgb(251, 255, 0);
}